@import '~/sass/common';

.langing-slider {
  &__slide {
    background-image: url('../media/landing-slider/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__overlay {
    background: #010101;
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__slide-title {
    position: absolute;
    left: 40px;
    bottom: rubber(80);
    font-weight: 500;
    font-size: rubber(60);
    line-height: 110%;
    /* or 66px */

    letter-spacing: -0.02em;

    color: #FFFFFF;
  }

  &__slide-wrapper {
    min-height: 630px;
    height: calc(100vh - 200px);
    width: 100%;
  }

  .flickity-page-dots {
    bottom: -48px;
    left: 80px;

    .dot {
      margin: 0;
      margin-right: 38px;
    }
  }
}

.carriages {
  &__docs {
    margin-top: 30px;
  }

  &__filters {
    margin-top: 60px;
    display: flex;
  }
}

.catalog-slide {
  padding: 0 10px;

  &:first-of-type {
    padding-left: 40px;
  }

  &__photo {
    height: 600px;
    width: 600px;
    background-image: url('../media/catalog-slider/1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  &__more {
    path {
      transition: stroke 0.3s, stroke-opacity .3s;
    }

    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    &-text {
      transition: opacity 0.3s;
      opacity: 0;
      color: $subColor;
    }
  }

  &__title {
    transition: color 0.3s;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: $mainColor;
    margin-top: 60px;
  }

  &__cost {
    transition: color 0.3s;
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    margin-top: 16px;
    margin-bottom: 30px;
    color: $mainColor;
  }

  &__more-text {
    margin-left: 12px;
  }

  &:hover {
    .catalog-slide {
      &__more {
        path {
          stroke: $subColor;
          stroke-opacity: 1;
        }

        &-text {
          opacity: 1;
        }
      }

      &__title {
        color: $subColor;
      }

      &__cost {
        color: $subColor;
      }
    }
  }
}

.catalog-slider {
  &__arrow {
    cursor: pointer;

    path {
      transition: .3s;
    }

    &:hover {
      path {
        fill-opacity: 1;
        fill: $subColor
      }
    }
  }

  &__arrows {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }
}

.cases {
  &__tabs {
    margin-top: 50px;
  }
}

.case {
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
  }

  &__title {
    font-weight: 500;
    line-height: 110%;
    /* identical to box height, or 44px */

    letter-spacing: -0.02em;

    color: #010101;
    margin-bottom: 60px;
  }

  &__text {
    width: 380px;
    padding-right: 40px;
  }

  &__text-title {
    font-size: 14px;
    margin-bottom: 40px;
    display: inline-block;
  }

  &__text-block {
    margin-bottom: 60px;

    p:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }

  &__gallery-wrapper {
    flex-grow: 1;
  }
}

.case-gallery {
  &__wrapper {
    background-color: #F5F5F5;
    position: relative;
    height: 680px;
  }

  &__slide {
    width: 100%;
    height: 680px;
    object-fit: contain;
    display: block;
  }

  &__arrow {
    position: absolute;
    background: $white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;

    &_right {
      right: 60px;
    }

    &_left {
      left: 60px;
    }

    path {
      transition: .3s;
    }

    &:hover {
      background-color: $subColor;

      path {
        fill: $white;
        fill-opacity: 1;
      }
    }
  }
}

.benefit {
  background: #0D0F13;
  display: flex;
  padding-top: 120px;
  padding-bottom: 220px;
  padding-right: 0;
  position: relative;
  overflow: hidden;

  &__desc {
    color: rgba(255, 255, 255, 0.4);
  }

  &__title-block {
    min-width: 320px;
    width: 320px;
    margin-right: 20px;
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 60px;
  }

  &__item-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    color: #FFFFFF;
  }

  &__item {
    width: 290px;
    margin-right: calc(33% - 290px);
    margin-bottom: 60px;
  }

  &__item-number {
    background: rgba(255, 255, 255, 0.1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    color: $subColor;

    margin-bottom: 30px;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
  }
}

.about {
  display: flex;

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;

    color: $subColor;
    margin-bottom: 60px;
    display: inline-block;
  }

  &__main-text {
    font-weight: 500;
    line-height: 110%;
  }

  &__number {
    display: flex;
    align-items: center;
  }

  &__half {
    padding-right: 80px;
  }

  &__item-desc {
    margin-top: 30px;
  }

  &__achievements {
    display: flex;
    flex-wrap: wrap;

    &-item:not(:nth-child(1n+3)) {
      // margin-right: calc(50% - 120px);
      margin-bottom: 70px;
    }
  }
}

.horizontal-line {
  letter-spacing: -5px;
}

.plus {
  margin-top: -8px;
}

.map {
  background: #0D0F13;
  display: flex;

  &__info {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__text {
    margin-bottom: 60px;
    display: inline-block;
    padding-right: 40px;
  }
}

.city-list {
  padding-right: 40px;

  .scrollbar-track-y {
    width: 2px;
  }

  .scrollbar-thumb {
    background-color: $subColor;
    border-radius: 0;
  }

  &__info {
    display: flex;
    padding-bottom: 40px;
  }

  &__info-item {
    color: rgba(255, 255, 255, 0.4);
  }

  &__item {
    display: flex;
    padding: 12px 20px;
    margin: 0 20px;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
    }
  }

  &__scroll-box {
    height: 604px;
    overflow: auto;
  }

  &__content {
    padding: 12px 0;
  }
}

.reviews {
  &__title {
    margin-bottom: 50px;
  }

  &__title-section {
    padding-right: 40px;
  }

  &__main {
    display: none;

    &_active {
      display: flex;
    }
  }

  &__main-half {
    display: flex;
  }

  &__name {
    margin-bottom: 12px;
  }

  &__rank {
    margin-bottom: 60px;
    display: inline-block;
  }

  &__text {
    p:not(:last-of-type) {
      margin-bottom: 1em;
    }

    margin-bottom: 60px;
  }
}

.video {
  &__title {
    margin-bottom: 60px;
  }

  &__main {
    cursor: pointer;
    min-height: 760px;
    height: calc(100vh - 200px);

  }
}

.scroll-top {
  display: flex;
  align-items: center;
  margin-left: 40px;

  &__wrapper {
    flex-grow: 1;
  }

  &__text {
    margin-left: 12px;
    color: rgba(255, 255, 255, 0.4);
    transition: color .3s;
  }

  path {
    transition: .3s;
  }

  &:hover {
    .scroll-top__text {
      color: rgba(255, 255, 255, 1);
    }

    path {
      fill-opacity: 1;
    }
  }
}

.rehm {
  display: flex;

  &__title {
    margin-bottom: 60px;
  }

  &__text {
    margin-bottom: 60px;
  }
}

.map__marker {
  background: $subColor;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  color: $white;
}

@media screen and (max-width: 1600px) {
  .langing-slider {
    &__slide-title {
      bottom: 80px;
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .catalog-slide {
    &:first-of-type {
      padding-left: 20px;
    }
  }
}