@import '~/sass/common';


.rotate-180 {
  transform: rotate(180deg);
}

.gm-style-iw-a {
  display: none;
}

.loaded {
  .langing-slider {
    &__slide {
      transform: scale(1);

      &-wrapper_active {
        .langing-slider {
          &__overlay {
            opacity: .4;
          }

          &__slide-img-wrapper {
            transform: scale(1.1);
          }

          &__slide-title {
            opacity: 1;
            transform: translate(0);
            transition: opacity .3s .3s, transform .3s .3s;
          }

          &__slide-sub-title {
            opacity: 1;
            transform: translate(0);
            transition: opacity .3s .6s, transform .3s .6s;
          }
        }
      }
    }
  }
}

.langing-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  user-select: none;

  &__arrow {
    cursor: pointer;

    &_mobile {
      display: none;
    }

    &:hover {
      path {
        fill-opacity: 1;
      }
    }
  }

  &__inner {
    display: flex;
  }

  &__slide-img-wrapper {
    transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
    transform: scale(1);
  }

  &__slide {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    transform: scale(.9);
    transform-origin: bottom center;
    transition: transform .5s;

    &-img {
      background-image: url('../media/landing-slider/1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      transform-origin: center bottom;

      &-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__slide-sub-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .3s 0s, transform .3s 0s;
    display: block;
  }

  &__overlay {
    // background: #010101;
    opacity: .4;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #010101);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__slide-title {
    margin-bottom: 40px;
    font-weight: 500;
    // font-size: rubber(60);
    line-height: 110%;
    /* or 66px */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .3s 0s, transform .3s 0s;
    letter-spacing: -0.02em;

    color: #FFFFFF;

    &-wrapper {
      left: 40px;
      bottom: 100px;
      padding-right: 16px;
      position: absolute;
    }
  }

  &__slide-wrapper {
    overflow: hidden;
    min-height: 400px;
    height: calc(100vh - 208px);
    height: calc(var(--fsvh, 1vh) * 100 - 208px);
    min-width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;

    &_active {
      transform: translate(0, 0);
      z-index: 1;
      position: relative;
    }
  }

  &__controls-wrapper {
    width: 100%;
    position: absolute;
    bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }

  .flickity-page-dots {
    bottom: 0;
    position: relative;


    .dot {
      margin: 0;
      margin-right: 38px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.carriages {
  &__docs {
    margin-top: 30px;
  }

  &__filters {
    margin-top: 60px;
    display: flex;
  }
}

.catalog-slide {
  padding: 0 10px;

  &:first-of-type {
    padding-left: 40px;
  }

  &__photo {
    height: 600px;
    width: 600px;
    overflow: hidden;
    position: relative;
  }

  &__photo-inner {
    width: 100%;
    left: 100%;
    object-fit: cover;
    transition: transform .3s;
  }

  &__more {
    path {
      transition: stroke 0.3s, stroke-opacity .3s;
    }

    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    &-text {
      transition: opacity 0.3s;
      opacity: 0;
      color: $subColor;
    }
  }

  &__title {
    transition: color 0.3s;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: $mainColor;
    margin-top: 60px;
  }

  &__cost {
    transition: color 0.3s;
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    margin-top: 16px;
    margin-bottom: 30px;
    color: $mainColor;
  }

  &__more-text {
    margin-left: 12px;
  }

  &:hover {
    .catalog-slide {
      &__photo-inner {
        transform: scale(1.1);
      }

      &__more {
        path {
          stroke: $subColor;
          stroke-opacity: 1;
        }

        &-text {
          opacity: 1;
        }
      }

      &__title {
        color: $subColor;
      }

      &__cost {
        color: $subColor;
      }
    }
  }
}

.catalog-slider {
  &_mobile {
    display: none;
  }

  &__arrow {
    cursor: pointer;

    path {
      transition: .3s;
    }

    &:hover {
      path {
        fill-opacity: 1;
        fill: $subColor
      }
    }
  }

  &__arrows {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }
}

.cases {
  &__tabs {
    margin-top: 50px;
  }
}

.case {
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
  }

  &__title {
    font-weight: 500;
    line-height: 110%;
    /* identical to box height, or 44px */

    letter-spacing: -0.02em;

    color: #010101;
    margin-bottom: 60px;
  }

  &__text {
    width: 380px;
    padding-right: 40px;
  }

  &__text-title {
    font-size: 14px;
    margin-bottom: 40px;
    display: inline-block;
  }

  &__text-block {
    margin-bottom: 60px;

    p:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }

  &__gallery-wrapper {
    flex-grow: 1;
  }
}

.case-gallery {
  &__full-screen {
    display: none;
  }

  &__full-screen-close {
    display: none;
  }

  &__zoom-button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 1;

    &_active {
      background-color: #009A3C;

      path {
        stroke: #fff;
      }
    }
  }

  &.is-fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    background-color: #000;

    .flickity-fullscreen-button-view {
      display: none;
    }

    .flickity-fullscreen-button-exit {
      display: block;
    }

    .case-gallery__slide {
      height: 100%;
    }

    .flickity-prev-next-button {
      display: block;
      width: 60px;
      height: 60px;
      z-index: 102;
      position: fixed;
      top: 50%;

      &.previous {
        left: 40px;
      }

      &.next {
        right: 40px;
      }
    }
  }

  .flickity-fullscreen-button-exit {
    display: none;
  }

  .flickity-fullscreen-button-exit {
    left: 40px;
    top: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('../media/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%, 50%;

    svg {
      display: none;
    }
  }

  .flickity-fullscreen-button-view {
    left: 40px;
    top: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('../media/fs.svg');
    background-repeat: no-repeat;
    background-position: center;

    svg {
      display: none;
    }
  }

  .flickity-page-dots {
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%)
  }

  &__wrapper {
    background-color: #F5F5F5;
    position: relative;
    height: 680px;
  }

  &__slide {
    overflow: hidden;
    position: relative;
    min-width: 100%;

    height: 680px;

    display: block;
    max-width: 100%;


    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__arrow {
    position: absolute;
    background: $white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s;

    &_right {
      right: 40px;
    }

    &_left {
      left: 40px;
    }

    path {
      transition: .3s;
    }

    &:hover {
      background-color: $subColor;

      path {
        fill: $white;
        fill-opacity: 1;
      }
    }
  }
}

.benefit {
  background: #0D0F13;
  display: flex;
  padding-top: 120px;
  padding-bottom: 220px;
  padding-right: 0;
  position: relative;
  overflow: hidden;

  &__desc {
    color: rgba(255, 255, 255, 0.4);
  }

  &__title-block {
    min-width: 320px;
    width: 320px;
    margin-right: 20px;
  }

  &__title {
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 60px;
  }

  &__item-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    padding-right: 20px;
    /* or 29px */

    color: #FFFFFF;
  }

  &__item {
    width: 33%;
    padding-right: 20px;
    // margin-right: calc(33% - 290px);
    margin-bottom: 60px;
  }

  &__item-number {
    background: rgba(255, 255, 255, 0.1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    color: $subColor;

    margin-bottom: 30px;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
  }
}

.about {
  display: flex;

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;

    color: $subColor;
    margin-bottom: 60px;
    display: inline-block;
  }

  &__main-text {
    font-weight: 500;
    line-height: 110%;
  }

  &__number {
    display: flex;
    align-items: center;
  }

  &__half {
    padding-right: 80px;
  }

  &__item-desc {
    margin-top: 30px;
  }

  &__achievements {
    display: flex;
    flex-wrap: wrap;

    &-item:not(:nth-child(1n+3)) {
      // margin-right: calc(50% - 120px);
      margin-bottom: 70px;
    }
  }
}

.horizontal-line {
  letter-spacing: -5px;
}

.plus {
  margin-top: -8px;
}

.map {
  background: #0D0F13;
  display: flex;

  &__close {
    display: none;
  }

  &__info {
    padding-top: 40px;
    padding-bottom: 40px;
  }


  &__button_mobile {
    display: none;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__text {
    margin-bottom: 60px;
    display: inline-block;
    padding-right: 40px;
  }
}

.city-list {
  padding-right: 40px;

  .scrollbar-track-y {
    width: 2px;
  }

  .scrollbar-thumb {
    background-color: $subColor;
    border-radius: 0;
  }

  &__info {
    display: flex;
    padding-bottom: 40px;
  }

  &__info-item {
    color: rgba(255, 255, 255, 0.4);
  }

  &__item {
    display: flex;
    padding: 12px 20px;
    margin: 0 20px;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
    }
  }

  &__scroll-box {
    height: 604px;
    overflow: auto;
  }

  &__content {
    padding: 12px 0;
  }
}

.reviews {
  &__title {
    margin-bottom: 50px;
  }

  &__title-section {
    padding-right: 40px;
  }

  &__main {
    display: none;

    &_active {
      display: flex;
    }
  }

  &__main-half {
    display: flex;
  }

  &__name {
    margin-bottom: 12px;
  }

  &__rank {
    margin-bottom: 60px;
    display: inline-block;
  }

  &__text {
    p:not(:last-of-type) {
      margin-bottom: 1em;
    }

    margin-bottom: 60px;
  }
}

.video {
  &__title {
    margin-bottom: 60px;
  }

  &__main {
    cursor: pointer;
    min-height: 760px;
    height: calc(100vh - 200px);

  }

  svg {
    transition: transform .3s;

    circle {
      transition: stroke .3s;
    }

    path {
      transition: stroke .3s;
    }

    &:hover {
      transform: scale(1.05);

      circle {
        stroke: #009A3C;
      }

      path {
        stroke: #009A3C;
      }
    }
  }
}

.scroll-top {
  display: flex;
  align-items: center;
  margin-left: 40px;

  &__wrapper {
    flex-grow: 1;
  }

  &__text {
    margin-left: 12px;
    color: rgba(255, 255, 255, 0.4);
    transition: color .3s;
  }

  path {
    transition: .3s;
  }

  &:hover {
    .scroll-top__text {
      color: rgba(255, 255, 255, 1);
    }

    path {
      fill-opacity: 1;
    }
  }
}

.rehm {
  display: flex;

  &__title {
    margin-bottom: 60px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__img {
    &_mobile {
      display: none;
    }

  }
}

.map__marker {
  background: $subColor;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  color: $white;


  &-title {
    position: absolute;
    bottom: 130%;
    display: none;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
  }

  &_active {
    .map__marker-title {
      display: flex;
      justify-content: center;
    }
  }
}

// @media screen and (max-width: 1600px) {
//   .langing-slider {
//     &__slide-title {
//       font-size: 60px;
//     }
//   }
// }

@media screen and (max-width:1400px) {
  .benefit {
    &__item-text {
      font-size: 18px;
    }
  }

  .benefit {
    padding-bottom: 160px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 1150px) {

  .catalog-slide {
    &:first-of-type {
      padding-left: 20px;
    }

    &__photo {
      height: 400px;
      width: 400px;
    }

    &__more {
      left: 20px;
      bottom: 20px;
    }

    &__title {
      margin-top: 30px;
    }

    &__cost {
      margin-top: 8px;
      margin-bottom: 16px;
    }
  }

  .langing-slider {
    &__slide-title {
      // font-size: 50px;

      &-wrapper {
        left: 20px;
      }
    }

    &__slide-wrapper {
      height: calc(100vh - 188px);
      height: calc(var(--fsvh, 1vh) * 100 - 188px);
    }
  }

  .about {
    &__title {
      margin-bottom: 30px;
    }
  }

  .map {
    &__title {
      margin-bottom: 30px;
    }
  }

  .case-gallery {
    &__zoom-button {
      left: 20px;
      top: 20px;
      height: 40px;
      width: 40px;
    }

    &.is-fullscreen .flickity-prev-next-button {
      height: 40px;
      width: 40px;

      &.next {
        right: 20px;
      }

      &.previous {
        left: 20px;
      }
    }

    &__arrow {
      height: 40px;
      width: 40px;

      &_right {
        right: 20px;
      }

      &_left {
        left: 20px;
      }
    }

    .flickity-fullscreen-button-view,
    .flickity-fullscreen-button-exit {
      width: 40px;
      height: 40px;
      left: 20px;
      top: 20px;
    }
  }

  .city-list {
    &__scroll-box {
      height: 400px;
    }

    &__item {
      padding: 12px 10px;
      margin: 0 10px;
    }

    .half:nth-child(2) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .case {
    &__text-title {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1070px) {


  .benefit {
    padding-bottom: 120px;
    padding-right: 16px;

    &__wrapper {
      padding: 0;
    }

    &__title-block {
      width: 50%;
      padding-right: 16px;
    }

    &__item-number {
      display: none;
    }

    &__main {
      flex-direction: column;
    }

    &__item {
      width: 100%;
      padding-right: 16px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }

    &__img {
      bottom: -10px;

      path {
        stroke-opacity: .6;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .video {
    &__main {
      min-height: 0;
      height: 50vw;
    }
  }

  .langing-slider {
    &__slide-title {
      // font-size: 40px;
      margin-bottom: 32px;
    }
  }

  .about {
    &__item-desc {
      margin-top: 16px;
    }
  }

  .case {
    &__main {
      flex-direction: column;
    }

    &__text {
      width: 100%;
      display: flex;
      margin-bottom: 30px;
    }

    &__block {
      width: 50%;

      &:nth-child(1) {
        padding-right: 20px;
      }
    }

    &__gallery-wrapper {
      height: 400px;
    }
  }

  .case-gallery {
    &__slide {
      height: 400px;
    }
  }

  .benefit {
    padding-top: 80px;

    &__title {
      margin-bottom: 16px;
    }
  }

  .reviews {
    &__main-half {
      width: 100%;
    }
  }

  .rehm {
    &__text {
      width: 100%;
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 30px;
    }

    .button {
      width: 100%;
    }

    &__column_left {
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 700px) {
  .map {
    &__close {
      display: block;
    }

    &__info {
      position: fixed;
      top: -100vh;
      width: 100%;
      height: 100vh;
      background-color: #0D0F13;
      z-index: 104;
      left: 0;
      padding-top: 60px;
      transition: transform .3s;

      &_active {
        transform: translateY(100%)
      }
    }

    &__close {
      top: 20px;
      right: 26px;
      position: absolute;
      cursor: pointer;
    }

    &__list {
      padding-right: 16px;
    }

    &__button_mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
    }

    &__info-half {
      width: 100%;
    }

    &__text {
      margin-bottom: 20px;
    }
  }

  .city-list {
    .half:nth-child(1) {
      flex-grow: 1;
    }

    .half:nth-child(2) {
      width: auto;
    }

    &__scroll-box {
      height: calc(100vh - 127px);
    }

    &__info {
      padding-bottom: 30px;
    }
  }

  .reviews {
    &__title {
      margin-bottom: 40px;
    }
  }

  #map {
    height: 335px;
    width: 100%;
  }

  .langing-slider {
    &__arrow {
      &_mobile {
        display: block;
      }

      &_desktop {
        display: none;
      }
    }

    &__slide-title {
      margin-bottom: 12px;
      // font-size: 28px;
    }

    &__slide-sub-title {
      font-size: 18px;
    }

    &__slide-wrapper {
      height: calc(100vh - 150px);
      height: calc(var(--fsvh, 1vh) * 100 - 150px);
    }

  }

  .carriages {
    &__docs {
      margin-top: 20px;
    }

    &__filters {
      flex-direction: column;

      .filters {
        &__input {
          margin-right: 8px;
        }

        &__item {
          margin: 0;
          width: 50%;
        }

        &:not(:last-of-type) {
          margin-right: 0;
          margin-bottom: 24px;
        }
      }
    }
  }


  .catalog-slide {
    &__more-text {
      display: none;
    }
  }

  .catalog-slider {
    &_desk {
      display: none;
    }

    &_mobile {
      display: block;

    }

    &__arrow {
      path {
        fill: #009A3C;
        fill-opacity: 1;
      }
    }

    &__numbers {
      flex-grow: 1;
      display: flex;
      justify-content: space-around;

      &-item {
        display: block;
        width: 18px;
        cursor: pointer;
        font-size: 14px;
        line-height: 140%;
        color: #010101;

        &_active {
          color: $subColor;
        }
      }
    }
  }

  .benefit {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 0px;

    &__title-block {
      margin-bottom: 40px;
    }

    &__img {
      // margin-bottom: 40px;
      bottom: 0;
      margin: 40px -20px;
      margin-top: 20px;
      width: calc(100% + 40px);
      position: relative;
    }

    &__title-block {
      width: 50%;
      min-width: 50%;
    }
  }

  .case {
    &__title {
      margin-bottom: 40px;
    }
  }

  .about__title,
  .map__title {
    margin-bottom: 20px;
  }

  .video {
    svg {
      width: 100px;
      height: 100px;
    }

    &__title {
      margin-bottom: 40px;
    }
  }

  .case-gallery__slide,
  .case__gallery-wrapper {
    height: 280px;
  }

  .case-gallery {
    &__slide img {
      object-fit: cover;
    }

    &__zoom-button {
      display: none;
    }

    &__full-screen {
      left: 20px;
      top: 20px;
      height: 40px;
      width: 40px;
      display: flex;
      cursor: pointer;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 1;
    }

    .dot {
      background: #010101;
    }

    .flickity-page-dots {
      bottom: -30px;
      left: 50%;
      transform: translate(-50%, 10px);
    }

    &__wrapper {
      margin-bottom: 40px;
    }

    &__arrow {
      top: auto;
      bottom: -75px;
      background: transparent;

      path {
        fill: #009A3C;
        fill-opacity: 1;
      }

      &:hover {
        path {
          fill: #009A3C;
          fill-opacity: 1;
        }
      }

      &_left {
        left: 0px;
      }

      &_right {
        right: 0px;
      }

      &:hover {
        background: transparent;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .langing-slider {
    &__slide-wrapper {
      min-height: 400px;
      height: calc(100vh - 120px);
      height: calc(var(--fsvh, 1vh) * 100 - 120px)
    }

    &__section {
      padding: 0;

      .buttons__wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
      }
    }

    &__slide-title-wrapper {
      left: 16px;
    }

    .flickity-page-dots {
      transform: none;
    }
  }

  .catalog-slide {
    &__photo {
      width: 240px;
      height: 240px;

      svg {
        width: 36px;
        height: 36px;
      }
    }

    &__title {
      font-size: 18px;
    }

    &__cost {
      font-size: 18px;
    }
  }

  .case {
    &__text {
      flex-direction: column;
      padding-right: 0;
    }

    &__block {
      width: 100%;

      &:first-of-type {
        padding-right: 0;
      }
    }

    &__text-block {
      margin-bottom: 40px;
    }
  }

  .case-gallery__slide,
  .case__gallery-wrapper {
    height: 180px;
  }


  .benefit {
    padding-right: 16px;

    &__wrapper {
      padding: 0;
    }

    &__title-block {
      width: 100%;
      padding-right: 16px;
    }

    &__item-number {
      display: none;
    }

    &__main {
      flex-direction: column;
    }

    &__item {
      width: 100%;
      padding-right: 16px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }

    &__img {
      path {
        stroke-opacity: 1;
      }
    }
  }

  .about {
    flex-direction: column;

    &__half {
      padding-right: 0;
      margin-bottom: 40px;
    }

    &__block {
      width: 100%;
    }

    &__achievements-item:not(:nth-child(1n+3)) {
      margin-bottom: 40px;
    }
  }

  .reviews {
    &__main-half {
      flex-direction: column;

      .half {
        width: 100%;
      }
    }

    &__title-section {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
    }

    &__name {
      order: 2;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    &__rank {
      order: 3;
      margin-bottom: 0;
    }

    &__text {
      margin-bottom: 40px;
    }
  }

  .video {
    &__main {
      height: 180px;
      min-height: 180px;
    }

    .buttons__wrapper {
      display: none;
    }
  }

  .rehm {
    flex-direction: column;

    &__column_left {
      width: 100%;
      padding-right: 0;
    }

    &__img {
      &_desk {
        display: none;
      }

      &_mobile {
        display: block;
      }
    }
  }

  .burger-menu {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.is-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;
  height: 100vh;
  background: #010101;
  padding-top: 50vh;

  .flickity-page-dots {
    bottom: 60px;

    .dot {
      background-color: #fff;
    }
  }



  .case-gallery {
    transform: translateY(calc(-50% + 35px));

    &__arrow {
      bottom: 50%;
      transform: translateY(50%);
      background-color: #009A3C;

      path {
        fill: #fff;
      }

      &_right {
        right: 12px;
      }

      &_left {
        left: 12px;
      }

      .tabs_desk {
        display: flex;
      }

      .tabs_mobile {
        display: none;
      }

      &.disabled-arrow {
        background-color: #fff;

        path {
          fill: #010101;
          ;
        }
      }
    }

    &__full-screen-close {
      display: block;
      position: absolute;
      right: 16px;
      top: 20px;
      display: flex;
      align-items: center;

      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;

      color: #FFFFFF;
      cursor: pointer;

      span {
        margin-right: 8px;
      }
    }

    &__full-screen {
      display: none;
    }

    &__slide {
      height: calc(100vh - 70px);

      img {
        object-fit: contain;
      }
    }
  }
}