* {
  font-family: 'Suisse Intl', Arial, Helvetica, sans-serif;
  font-style: normal;
}

.half {
  width: 50%;
}

.fourth {
  width: 25%;
}

.link {
  cursor: pointer;
  color: $mainColor;
  position: relative;
  pointer-events: all;

  &__wrapper {
    position: relative;
  }

  &::before {
    content: '';
    bottom: -0em;
    position: absolute;
    width: 0%;
    right: 0;
    height: 1px;
    background-color: $mainColor;
    transition: 0.3s;
  }

  &_green::before {
    background-color: $subColor;
  }

  &_grey::before {
    background-color: $greyColor;
  }

  &:hover:before {
    width: 100%;
    left: 0;
  }
}

.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: $mainColor;

  &_bold {
    font-weight: 500;
  }

  &_white-color {
    color: $white;
  }

  &_green-color {
    color: $subColor;
  }

  &_grey-color {
    color: $greyColor;
  }
}

.main-padding {
  padding: 0 40px;
}

.burger {
  width: 40px;
  height: 12px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 30px;
  display: none;

  &_active {
    .burger__line:nth-child(1) {
      transform: rotate(45deg) translateY(7px);
    }

    .burger__line:nth-child(2) {
      transform: scale(0);
    }

    .burger__line:nth-child(3) {
      transform: rotate(-45deg) translateY(-7px);
    }
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: #010101;
    transition: .3s;
  }
}

.burger-menu {
  position: fixed;
  left: 0;
  top: -100%;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  transition: transform .5s;
  z-index: 99;
  padding: 0 20px;
  padding-top: 84px;

  &__link {
    font-size: 18px;
  }

  &__bottom-text {
    font-size: 14px;
    line-height: 120%;
    color: #009A3C;

  }

  &__bottom-block {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .half:nth-child(1) {
      padding-left: 20px;
    }

    .button {
      margin-top: 30px;
    }
  }

  &__li {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &_active {
    transform: translateY(100%);
  }
}

.main-header {
  background: $white;
  width: 100%;
  min-height: 84px;
  height: rubber(84);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  &__logo {
    min-width: 220px;
    width: rubber(220);
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__ul {
    display: flex;
  }

  &__li {
    margin-left: 60px;
  }
}

.sub-nav {
  display: flex;
  align-items: center;

  &__link {
    margin-left: 60px;
  }
}

.main-content {
  margin-top: 84px;
}

.buttons {
  display: flex;
  min-width: 50%;

  &__sub-button {
    flex-grow: 1;
    align-items: center;
    display: flex;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background: #0D0F13;
    height: 84px;
    width: 100%;
  }
}

.button {
  width: 50%;
  height: 84px;
  background: #17191C;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background: #252526;
  }

  &_green {
    background: #009A3C;

    &:hover {
      background: #007D31;
    }
  }

  &_border {
    border: 2px solid #009A3C;
    color: #009A3C;
    background-color: transparent;

    &:hover {
      background: #009A3C;
      color: $white;
    }
  }
}

section {
  margin-bottom: 140px;
  position: relative;
}

.ancor {
  position: absolute;
  top: rubber(-84);
}

.h2 {
  font-weight: 500;
  font-size: rubber(80);
  line-height: 110%;
  /* identical to box height, or 88px */

  letter-spacing: -0.02em;

  color: #010101;
}

.h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
}

.h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

.docs {
  display: flex;

  &__item {
    position: relative;
    margin-left: 34px;

    &:not(:last-of-type) {
      margin-right: 60px;
    }

    &::after {
      display: block;
      content: ' ';
      height: 22px;
      width: 22px;
      background-image: url('~/media/pdf.svg');
      position: absolute;
      left: -34px;
      top: 0;
    }
  }
}


.filters {
  &:not(:last-of-type) {
    margin-right: 120px;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__main {
    display: flex;
  }

  &__input-inner {
    background: #009A3C;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: none;
  }

  &__input {
    margin-right: 12px;
    border: 2px solid rgba(1, 1, 1, 0.2);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__hidden-input {
    display: none;

    &:checked+.filters__input {
      border: 2px solid #009A3C;

      .filters__input-inner {
        display: block;
      }
    }
  }
}

.tabs {
  width: 100%;

  &_mobile {
    display: none;
  }

  &__li {
    &.is-selected {
      a {
        color: $subColor;

        &:before {
          background-color: $subColor;
          width: 100%;
        }
      }
    }
  }

  &__link {
    white-space: nowrap;
    display: inline-block;
    height: 100%;
  }

  &__arrows {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
  }

  &__arrow {
    cursor: pointer;

    path {
      transition: .3s;
    }

    &:hover {
      path {
        fill-opacity: 1;
        fill: $subColor
      }
    }
  }
}

.player {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  &__title {
    margin-bottom: 60px;
    min-height: 1em;
  }

  &__column {
    display: flex;
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;

    color: #010101;
    transition: .3s;

    &:hover {
      color: $subColor;
    }

    &_inst {
      transition: .3s;
      background: #010101;
      background-image: linear-gradient(90deg, #010101, #010101);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:hover {
        background-image: linear-gradient(90deg, #F48529, #515BD4);
      }
    }

    &_yt {
      &:hover {
        color: #F60606;
      }
    }
  }

  &__main {
    display: flex;
    margin-bottom: 120px;
  }

  &__sub {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;

    color: #010101;
  }
}

@media screen and (max-width: 1600px) {
  .main-header {
    min-height: none;
    height: 84px;

    &__logo {
      min-width: none;
      width: 220px;
    }
  }

  .ancor {
    top: -84px;
  }

  .h2 {
    font-size: 80px;
  }
}

@media screen and (max-width: 1400px) {
  .main-header {
    &__li {
      margin-left: 20px;
    }
  }

  .sub-nav {
    &__link {
      margin-left: 20px;
    }
  }

  .h3 {
    font-size: 35px;
  }

  .footer {
    &__title {
      margin-bottom: 30px;
    }

    &__main {
      margin-bottom: 100px;
    }

    &__text,
    &__link {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .text {
    font-size: 15px;
  }

  .h4 {
    font-size: 13px;
  }

  .h3 {
    font-size: 30px;
  }

  .h2 {
    font-size: 60px;
  }

  .main-padding {
    padding: 0 20px;
  }

  section {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    &__logo {
      display: none;
    }

    &__sub {
      justify-content: space-between;
    }

    &__cop {
      width: 100%;
    }
  }
}

@media screen and (max-width: 960px) {
  .h3 {
    font-size: 22px;
  }

  .main-header {
    &__ul {
      display: none;
    }
  }

  .burger {
    display: flex;
  }

  .sub-nav {
    &__link {
      &_tel {
        display: none;
      }
    }
  }

  .footer {
    &__column {
      width: 100%;

      &:nth-child(1) {
        margin-bottom: 30px;
      }
    }

    &__title {
      margin-bottom: 16px;
    }

    &__main {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 750px) {
  .text {
    font-size: 14px;
  }

  .docs__item:after {
    width: 20px;
    height: 20px;
    background-size: contain;
  }

  .h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .button {
    height: 70px;
  }

  .tabs {
    &_desk {
      display: none;
    }

    &__arrows {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    &_mobile {
      display: block;
    }

    &__numbers {
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      cursor: pointer;
    }

    &__numbers-item {
      font-size: 14px;
      line-height: 140%;
      color: #010101;

      &_active {
        color: #009A3C;
      }
    }
  }



  .buttons {
    width: 100%;

    &__wrapper {
      height: 70px;
    }

    &__sub-button {
      display: none;
    }
  }

  .h2 {
    font-size: 28px;
  }

  .h3 {
    font-size: 18px;
  }

  section {
    margin-bottom: 60px;
  }

  .footer {
    &__main {
      margin-bottom: 60px;
    }
  }

  .main-header {
    height: 60px;
    min-height: 60px;

    &__logo {
      width: 132px;
      min-width: 132px;
    }
  }

  .main-content {
    margin-top: 60px;
  }
}